{
  "name": "wp-campaign-url-builder",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "source/assets/scss/reatlat_cub-public.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"source/assets/css/reatlat_cub-public.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "source/assets/scss/reatlat_cub-admin.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"source/assets/css/reatlat_cub-admin.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "source/assets/js/reatlat_cub-public.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":true,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "source/assets/js/reatlat_cub-admin.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":true,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "source/vendors",
      "source/public",
      "source/languages",
      "source/admin/views/partial",
      "source/admin/views/images",
      "source/assets/scss",
      "source/assets/css",
      "source/assets/js",
      "source/assets/js/vendor/admin",
      "source",
      "source/assets"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": true
  },
  "imports": [
    {
      "path": "source/assets/scss/reatlat_cub-admin.scss",
      "imports": [
        "source/assets/scss/_vars.scss",
        "source/assets/scss/mixins/_import-now.scss",
        "source/assets/scss/vendors/_import-now.scss",
        "source/assets/scss/_radio-button.scss",
        "source/assets/scss/mixins/_font-size.scss",
        "source/assets/scss/mixins/_transition.scss",
        "source/assets/scss/vendors/_animate.scss",
        "source/assets/scss/vendors/_spacing.scss",
        "source/assets/scss/vendors/_toggle-checkbox.scss",
        "source/assets/scss/vendors/animation/_bounce.scss",
        "source/assets/scss/vendors/animation/_flash.scss",
        "source/assets/scss/vendors/animation/_pulse.scss",
        "source/assets/scss/vendors/animation/_rubberBand.scss",
        "source/assets/scss/vendors/animation/_shake.scss",
        "source/assets/scss/vendors/animation/_headShake.scss",
        "source/assets/scss/vendors/animation/_swing.scss",
        "source/assets/scss/vendors/animation/_tada.scss",
        "source/assets/scss/vendors/animation/_wobble.scss",
        "source/assets/scss/vendors/animation/_jello.scss",
        "source/assets/scss/vendors/animation/_bounceIn.scss",
        "source/assets/scss/vendors/animation/_bounceInDown.scss",
        "source/assets/scss/vendors/animation/_bounceInLeft.scss",
        "source/assets/scss/vendors/animation/_bounceInRight.scss",
        "source/assets/scss/vendors/animation/_bounceInUp.scss",
        "source/assets/scss/vendors/animation/_bounceOut.scss",
        "source/assets/scss/vendors/animation/_bounceOutDown.scss",
        "source/assets/scss/vendors/animation/_bounceOutLeft.scss",
        "source/assets/scss/vendors/animation/_bounceOutRight.scss",
        "source/assets/scss/vendors/animation/_bounceOutUp.scss",
        "source/assets/scss/vendors/animation/_fadeIn.scss",
        "source/assets/scss/vendors/animation/_fadeInDown.scss",
        "source/assets/scss/vendors/animation/_fadeInDownBig.scss",
        "source/assets/scss/vendors/animation/_fadeInLeft.scss",
        "source/assets/scss/vendors/animation/_fadeInLeftBig.scss",
        "source/assets/scss/vendors/animation/_fadeInRight.scss",
        "source/assets/scss/vendors/animation/_fadeInRightBig.scss",
        "source/assets/scss/vendors/animation/_fadeInUp.scss",
        "source/assets/scss/vendors/animation/_fadeInUpBig.scss",
        "source/assets/scss/vendors/animation/_fadeOut.scss",
        "source/assets/scss/vendors/animation/_fadeOutDown.scss",
        "source/assets/scss/vendors/animation/_fadeOutDownBig.scss",
        "source/assets/scss/vendors/animation/_fadeOutLeft.scss",
        "source/assets/scss/vendors/animation/_fadeOutLeftBig.scss",
        "source/assets/scss/vendors/animation/_fadeOutRight.scss",
        "source/assets/scss/vendors/animation/_fadeOutRightBig.scss",
        "source/assets/scss/vendors/animation/_fadeOutUp.scss",
        "source/assets/scss/vendors/animation/_fadeOutUpBig.scss",
        "source/assets/scss/vendors/animation/_flip.scss",
        "source/assets/scss/vendors/animation/_flipInX.scss",
        "source/assets/scss/vendors/animation/_flipInY.scss",
        "source/assets/scss/vendors/animation/_flipOutX.scss",
        "source/assets/scss/vendors/animation/_flipOutY.scss",
        "source/assets/scss/vendors/animation/_lightSpeedIn.scss",
        "source/assets/scss/vendors/animation/_lightSpeedOut.scss",
        "source/assets/scss/vendors/animation/_rotateIn.scss",
        "source/assets/scss/vendors/animation/_rotateInDownLeft.scss",
        "source/assets/scss/vendors/animation/_rotateInDownRight.scss",
        "source/assets/scss/vendors/animation/_rotateInUpLeft.scss",
        "source/assets/scss/vendors/animation/_rotateInUpRight.scss",
        "source/assets/scss/vendors/animation/_rotateOut.scss",
        "source/assets/scss/vendors/animation/_rotateOutDownLeft.scss",
        "source/assets/scss/vendors/animation/_rotateOutDownRight.scss",
        "source/assets/scss/vendors/animation/_rotateOutUpLeft.scss",
        "source/assets/scss/vendors/animation/_rotateOutUpRight.scss",
        "source/assets/scss/vendors/animation/_slideInUp.scss",
        "source/assets/scss/vendors/animation/_slideInDown.scss",
        "source/assets/scss/vendors/animation/_slideInLeft.scss",
        "source/assets/scss/vendors/animation/_slideInRight.scss",
        "source/assets/scss/vendors/animation/_slideOutUp.scss",
        "source/assets/scss/vendors/animation/_slideOutDown.scss",
        "source/assets/scss/vendors/animation/_slideOutLeft.scss",
        "source/assets/scss/vendors/animation/_slideOutRight.scss",
        "source/assets/scss/vendors/animation/_zoomIn.scss",
        "source/assets/scss/vendors/animation/_zoomInDown.scss",
        "source/assets/scss/vendors/animation/_zoomInLeft.scss",
        "source/assets/scss/vendors/animation/_zoomInRight.scss",
        "source/assets/scss/vendors/animation/_zoomInUp.scss",
        "source/assets/scss/vendors/animation/_zoomOut.scss",
        "source/assets/scss/vendors/animation/_zoomOutDown.scss",
        "source/assets/scss/vendors/animation/_zoomOutLeft.scss",
        "source/assets/scss/vendors/animation/_zoomOutRight.scss",
        "source/assets/scss/vendors/animation/_zoomOutUp.scss",
        "source/assets/scss/vendors/animation/_hinge.scss",
        "source/assets/scss/vendors/animation/_rollIn.scss",
        "source/assets/scss/vendors/animation/_rollOut.scss"
      ]
    },
    {
      "path": "source/assets/scss/reatlat_cub-public.scss",
      "imports": [
        "source/assets/scss/_vars.scss",
        "source/assets/scss/mixins/_import-now.scss",
        "source/assets/scss/mixins/_font-size.scss",
        "source/assets/scss/mixins/_transition.scss"
      ]
    },
    {
      "path": "source/assets/scss/mixins/_import-now.scss",
      "imports": [
        "source/assets/scss/mixins/_font-size.scss",
        "source/assets/scss/mixins/_transition.scss"
      ]
    },
    {
      "path": "source/assets/scss/vendors/_animate.scss",
      "imports": [
        "source/assets/scss/vendors/animation/_bounce.scss",
        "source/assets/scss/vendors/animation/_flash.scss",
        "source/assets/scss/vendors/animation/_pulse.scss",
        "source/assets/scss/vendors/animation/_rubberBand.scss",
        "source/assets/scss/vendors/animation/_shake.scss",
        "source/assets/scss/vendors/animation/_headShake.scss",
        "source/assets/scss/vendors/animation/_swing.scss",
        "source/assets/scss/vendors/animation/_tada.scss",
        "source/assets/scss/vendors/animation/_wobble.scss",
        "source/assets/scss/vendors/animation/_jello.scss",
        "source/assets/scss/vendors/animation/_bounceIn.scss",
        "source/assets/scss/vendors/animation/_bounceInDown.scss",
        "source/assets/scss/vendors/animation/_bounceInLeft.scss",
        "source/assets/scss/vendors/animation/_bounceInRight.scss",
        "source/assets/scss/vendors/animation/_bounceInUp.scss",
        "source/assets/scss/vendors/animation/_bounceOut.scss",
        "source/assets/scss/vendors/animation/_bounceOutDown.scss",
        "source/assets/scss/vendors/animation/_bounceOutLeft.scss",
        "source/assets/scss/vendors/animation/_bounceOutRight.scss",
        "source/assets/scss/vendors/animation/_bounceOutUp.scss",
        "source/assets/scss/vendors/animation/_fadeIn.scss",
        "source/assets/scss/vendors/animation/_fadeInDown.scss",
        "source/assets/scss/vendors/animation/_fadeInDownBig.scss",
        "source/assets/scss/vendors/animation/_fadeInLeft.scss",
        "source/assets/scss/vendors/animation/_fadeInLeftBig.scss",
        "source/assets/scss/vendors/animation/_fadeInRight.scss",
        "source/assets/scss/vendors/animation/_fadeInRightBig.scss",
        "source/assets/scss/vendors/animation/_fadeInUp.scss",
        "source/assets/scss/vendors/animation/_fadeInUpBig.scss",
        "source/assets/scss/vendors/animation/_fadeOut.scss",
        "source/assets/scss/vendors/animation/_fadeOutDown.scss",
        "source/assets/scss/vendors/animation/_fadeOutDownBig.scss",
        "source/assets/scss/vendors/animation/_fadeOutLeft.scss",
        "source/assets/scss/vendors/animation/_fadeOutLeftBig.scss",
        "source/assets/scss/vendors/animation/_fadeOutRight.scss",
        "source/assets/scss/vendors/animation/_fadeOutRightBig.scss",
        "source/assets/scss/vendors/animation/_fadeOutUp.scss",
        "source/assets/scss/vendors/animation/_fadeOutUpBig.scss",
        "source/assets/scss/vendors/animation/_flip.scss",
        "source/assets/scss/vendors/animation/_flipInX.scss",
        "source/assets/scss/vendors/animation/_flipInY.scss",
        "source/assets/scss/vendors/animation/_flipOutX.scss",
        "source/assets/scss/vendors/animation/_flipOutY.scss",
        "source/assets/scss/vendors/animation/_lightSpeedIn.scss",
        "source/assets/scss/vendors/animation/_lightSpeedOut.scss",
        "source/assets/scss/vendors/animation/_rotateIn.scss",
        "source/assets/scss/vendors/animation/_rotateInDownLeft.scss",
        "source/assets/scss/vendors/animation/_rotateInDownRight.scss",
        "source/assets/scss/vendors/animation/_rotateInUpLeft.scss",
        "source/assets/scss/vendors/animation/_rotateInUpRight.scss",
        "source/assets/scss/vendors/animation/_rotateOut.scss",
        "source/assets/scss/vendors/animation/_rotateOutDownLeft.scss",
        "source/assets/scss/vendors/animation/_rotateOutDownRight.scss",
        "source/assets/scss/vendors/animation/_rotateOutUpLeft.scss",
        "source/assets/scss/vendors/animation/_rotateOutUpRight.scss",
        "source/assets/scss/vendors/animation/_slideInUp.scss",
        "source/assets/scss/vendors/animation/_slideInDown.scss",
        "source/assets/scss/vendors/animation/_slideInLeft.scss",
        "source/assets/scss/vendors/animation/_slideInRight.scss",
        "source/assets/scss/vendors/animation/_slideOutUp.scss",
        "source/assets/scss/vendors/animation/_slideOutDown.scss",
        "source/assets/scss/vendors/animation/_slideOutLeft.scss",
        "source/assets/scss/vendors/animation/_slideOutRight.scss",
        "source/assets/scss/vendors/animation/_zoomIn.scss",
        "source/assets/scss/vendors/animation/_zoomInDown.scss",
        "source/assets/scss/vendors/animation/_zoomInLeft.scss",
        "source/assets/scss/vendors/animation/_zoomInRight.scss",
        "source/assets/scss/vendors/animation/_zoomInUp.scss",
        "source/assets/scss/vendors/animation/_zoomOut.scss",
        "source/assets/scss/vendors/animation/_zoomOutDown.scss",
        "source/assets/scss/vendors/animation/_zoomOutLeft.scss",
        "source/assets/scss/vendors/animation/_zoomOutRight.scss",
        "source/assets/scss/vendors/animation/_zoomOutUp.scss",
        "source/assets/scss/vendors/animation/_hinge.scss",
        "source/assets/scss/vendors/animation/_rollIn.scss",
        "source/assets/scss/vendors/animation/_rollOut.scss"
      ]
    },
    {
      "path": "source/assets/scss/vendors/_import-now.scss",
      "imports": [
        "source/assets/scss/vendors/_animate.scss",
        "source/assets/scss/vendors/_spacing.scss",
        "source/assets/scss/vendors/_toggle-checkbox.scss",
        "source/assets/scss/vendors/animation/_bounce.scss",
        "source/assets/scss/vendors/animation/_flash.scss",
        "source/assets/scss/vendors/animation/_pulse.scss",
        "source/assets/scss/vendors/animation/_rubberBand.scss",
        "source/assets/scss/vendors/animation/_shake.scss",
        "source/assets/scss/vendors/animation/_headShake.scss",
        "source/assets/scss/vendors/animation/_swing.scss",
        "source/assets/scss/vendors/animation/_tada.scss",
        "source/assets/scss/vendors/animation/_wobble.scss",
        "source/assets/scss/vendors/animation/_jello.scss",
        "source/assets/scss/vendors/animation/_bounceIn.scss",
        "source/assets/scss/vendors/animation/_bounceInDown.scss",
        "source/assets/scss/vendors/animation/_bounceInLeft.scss",
        "source/assets/scss/vendors/animation/_bounceInRight.scss",
        "source/assets/scss/vendors/animation/_bounceInUp.scss",
        "source/assets/scss/vendors/animation/_bounceOut.scss",
        "source/assets/scss/vendors/animation/_bounceOutDown.scss",
        "source/assets/scss/vendors/animation/_bounceOutLeft.scss",
        "source/assets/scss/vendors/animation/_bounceOutRight.scss",
        "source/assets/scss/vendors/animation/_bounceOutUp.scss",
        "source/assets/scss/vendors/animation/_fadeIn.scss",
        "source/assets/scss/vendors/animation/_fadeInDown.scss",
        "source/assets/scss/vendors/animation/_fadeInDownBig.scss",
        "source/assets/scss/vendors/animation/_fadeInLeft.scss",
        "source/assets/scss/vendors/animation/_fadeInLeftBig.scss",
        "source/assets/scss/vendors/animation/_fadeInRight.scss",
        "source/assets/scss/vendors/animation/_fadeInRightBig.scss",
        "source/assets/scss/vendors/animation/_fadeInUp.scss",
        "source/assets/scss/vendors/animation/_fadeInUpBig.scss",
        "source/assets/scss/vendors/animation/_fadeOut.scss",
        "source/assets/scss/vendors/animation/_fadeOutDown.scss",
        "source/assets/scss/vendors/animation/_fadeOutDownBig.scss",
        "source/assets/scss/vendors/animation/_fadeOutLeft.scss",
        "source/assets/scss/vendors/animation/_fadeOutLeftBig.scss",
        "source/assets/scss/vendors/animation/_fadeOutRight.scss",
        "source/assets/scss/vendors/animation/_fadeOutRightBig.scss",
        "source/assets/scss/vendors/animation/_fadeOutUp.scss",
        "source/assets/scss/vendors/animation/_fadeOutUpBig.scss",
        "source/assets/scss/vendors/animation/_flip.scss",
        "source/assets/scss/vendors/animation/_flipInX.scss",
        "source/assets/scss/vendors/animation/_flipInY.scss",
        "source/assets/scss/vendors/animation/_flipOutX.scss",
        "source/assets/scss/vendors/animation/_flipOutY.scss",
        "source/assets/scss/vendors/animation/_lightSpeedIn.scss",
        "source/assets/scss/vendors/animation/_lightSpeedOut.scss",
        "source/assets/scss/vendors/animation/_rotateIn.scss",
        "source/assets/scss/vendors/animation/_rotateInDownLeft.scss",
        "source/assets/scss/vendors/animation/_rotateInDownRight.scss",
        "source/assets/scss/vendors/animation/_rotateInUpLeft.scss",
        "source/assets/scss/vendors/animation/_rotateInUpRight.scss",
        "source/assets/scss/vendors/animation/_rotateOut.scss",
        "source/assets/scss/vendors/animation/_rotateOutDownLeft.scss",
        "source/assets/scss/vendors/animation/_rotateOutDownRight.scss",
        "source/assets/scss/vendors/animation/_rotateOutUpLeft.scss",
        "source/assets/scss/vendors/animation/_rotateOutUpRight.scss",
        "source/assets/scss/vendors/animation/_slideInUp.scss",
        "source/assets/scss/vendors/animation/_slideInDown.scss",
        "source/assets/scss/vendors/animation/_slideInLeft.scss",
        "source/assets/scss/vendors/animation/_slideInRight.scss",
        "source/assets/scss/vendors/animation/_slideOutUp.scss",
        "source/assets/scss/vendors/animation/_slideOutDown.scss",
        "source/assets/scss/vendors/animation/_slideOutLeft.scss",
        "source/assets/scss/vendors/animation/_slideOutRight.scss",
        "source/assets/scss/vendors/animation/_zoomIn.scss",
        "source/assets/scss/vendors/animation/_zoomInDown.scss",
        "source/assets/scss/vendors/animation/_zoomInLeft.scss",
        "source/assets/scss/vendors/animation/_zoomInRight.scss",
        "source/assets/scss/vendors/animation/_zoomInUp.scss",
        "source/assets/scss/vendors/animation/_zoomOut.scss",
        "source/assets/scss/vendors/animation/_zoomOutDown.scss",
        "source/assets/scss/vendors/animation/_zoomOutLeft.scss",
        "source/assets/scss/vendors/animation/_zoomOutRight.scss",
        "source/assets/scss/vendors/animation/_zoomOutUp.scss",
        "source/assets/scss/vendors/animation/_hinge.scss",
        "source/assets/scss/vendors/animation/_rollIn.scss",
        "source/assets/scss/vendors/animation/_rollOut.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes",
    "/wp-data",
    "/temp",
    "/svn",
    "/release",
    "/includes",
    "/source/admin/views/images",
    "/source/assets/css",
    "/source/assets/js/vendor"
  ],
  "server": {
    "port": 7889,
    "assignNewPortAutomatically": false,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": false,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"outputSuffix\":\".min\"}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}