$red:         #ac4142;
$orange:      #d28445;
$yellow:      #f4bf75;
$parchment:   #fffbae;
$sunflower:   #ffdd00;
$green:       #90a959;
$cyan:        #75b5aa;
$blue:        #6a9fb5;
$deepsea:     #084c91;
$magenta:     #aa759f;
$brown:       #8f5536;
$default:     #505050;

$white:       #FFFFFF;
$grey:        #CCCCCC;
$lightgrey:   #EEEEEE;
$black:       #000000;

$theme-color: #37A000;


/**
 + Sizes
 */
$sm: 568px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

$min-width: 961px;

