@import "vars";
@import "mixins/import-now";

.Campaign-URL-Builder {
    margin-bottom: 25px;
    .Campaign-URL-Builder--form-wrapper__form {
        .input-regular-text {
            margin-bottom: 10px;
            &.campaign_page {

            }
            &.campaign_source {

            }
            &.campaign_medium {

            }
            &.campaign_name {

            }
            &.campaign_term {

            }
            &.campaign_content {

            }
            &.custom_key {

            }
            &.custom_value {

            }
        }

        .input-submit-button {
            width: 100%;
        }

    }

    .Campaign-URL-Builder--form-wrapper__link-container {
        .link-container--result {
            position: relative;
            //display: none;
            background: mix($white, $default, 80%);
            border: 1px solid mix($default, $white, 50%);
            margin: 10px 0;
            padding: 10px;
            p {
                margin: 0;
            }

            .link-container--result__link {
                text-align: center;
            }

            .link-container--result__copy {
                display: none;
                position: absolute;
                top: 0;
                right: 5px;
                padding: 0 10px;
                cursor: pointer;
                height: 100%;
                .dashicons {
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    //line-height: 1.2;
                }
            }

            &.result-success {
                .link-container--result__copy {
                    display: block;
                }
            }
        }
    }

    .Campaign-URL-Builder--form-wrapper__notification {
        position: relative;
        width: 100%;
    }

    .notification--success {
        width: 100%;
        position: absolute;
        display: none;
        background: mix($green, $white, 50%);
        border: 1px solid $green;
        margin: 10px 0;
        padding: 10px;
        p {
            margin: 0;
        }
    }
    .notification--error {
        width: 100%;
        position: absolute;
        display: none;
        background: mix($red, $white, 50%);
        border: 1px solid $red;
        margin: 10px 0;
        padding: 10px;
        p {
            margin: 0;
        }
    }
}